@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>未上架资源管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-2">
                                <#NameCon id="resourcename" name="资源名称" />
                            </div>
                            <div class="col-sm-2">
                                <#TimeCon id="beginTime" name="开始时间" isTime="false" pattern="YYYY-MM-DD"  />
                            </div>
                            <div class="col-sm-2">
                                <#TimeCon id="endTime" name="结束时间" isTime="false" pattern="YYYY-MM-DD" />
                            </div>
                            <div class="col-sm-2">
                                <#SelectCon id="resourceitem" name="资源类型" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="Resource.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="ResourceTableToolbar" role="group">
                        	<button type="button" style="display: none" class="btn btn-primary" onclick="Resource.openResourceCdnUpdate()" id="${id!}" >
							    <i class="fa fa-edit"></i>&nbsp;配置CDN
							</button>
                            @if(shiro.hasPermission("/resource/add")){
                                <#button name="新建资源" icon="fa-plus" clickFun="Resource.openAddResource()"/>
                            @}
                            @if(shiro.hasPermission("/resource/update")){
                                <#button name="修改" icon="fa-edit" clickFun="Resource.openResourceDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/resource/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="Resource.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="ResourceTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/resource/resource/resource_not.js"></script>
<script>
    laydate.render({
        elem: '#beginTime'
    });
    laydate.render({
        elem: '#endTime'
    });
</script>
@}
