@layout("/common/_container.html"){
<div class="ibox float-e-margins">
	<div class="ibox-title">
       <h5>实名认证</h5>
    </div>
    <div class="ibox-content">
        <div class="form-horizontal" style="" id="">
            <div class="row">
                <div class="col-sm-12">
                	<div class="text-center p-lg">
                        <h3>你未通过实名认证，该功能禁止访问</h3>
                        <p>请在账号设置--账号信息菜单中进行实名认证</p>
                        <span>实名认证决定了账号归属，为了您的账号安全，请根据实名情况进行实名认证</span><br/>
                        <span>若您有任何问题，可查看<a href="#">实名认证指引</a></span>
                    </div>
                </div>
                <div class="col-sm-12">
					<div class="text-center p-lg">
                        <img width="170px" height="170px"
					                      src="${ctxPath}/static/img/stop.png">
                    </div>
				</div>
				<div class="col-sm-12">
                	<div class="text-center p-lg">
                        <span>若您有任何问题，可查看<a href="#">实名认证指引</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@}
