<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tangxian.dubbo.dao.DevKeyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tangxian.dubbo.entity.DevKey">
        <id column="id" property="id" />
        <result column="appname" property="appname" />
        <result column="apptype" property="apptype" />
        <result column="appintro" property="appintro" />
        <result column="appkey" property="appkey" />
        <result column="secretkey" property="secretkey" />
        <result column="time" property="time" />
        <result column="developerid" property="developerid" />
        <result column="remark" property="remark" />
        <result column="userid" property="userid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, appname, apptype, appintro, appkey, secretkey, time, developerid, remark, userid
    </sql>

<!--根据id查询Devkey-->
    <select id="getDevKeyById" resultType="com.tangxian.dubbo.entity.DevKey">
        select
        <include refid="Base_Column_List"></include>
        from dev_key
        where 1=1
        <if test="id != null and id != 0">
            and  (id = #{id})
        </if>
    </select>
</mapper>
