@layout("/common/_container.html"){
<div class="container-fluid" style="padding: 0 !important;">
    <!--  -->
   	 <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-4">
                <div class="contact-box" style="padding: 0px;">
                    <a href="">
                        <div class="col-sm-4" style="background-color: #1ab394;height: 200px;">
                            <div class="text-center">
                                <img style="width: 80px;height: 80px;margin-top: 35%;" src="${ctxPath}/static/img/ios.png">
                                <div class="m-t-xs font-bold" style="color: white;">IOS</div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <h3><strong>SDK for IOS下载</strong></h3>
                            <p>使用说明</p>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="contact-box" style="padding: 0px;">
                    <a href="">
                        <div class="col-sm-4" style="background-color: #1ab394;height: 200px;">
                            <div class="text-center">
                                <img style="width: 80px;height: 80px;margin-top: 35%;" src="${ctxPath}/static/img/android.png">
                                <div class="m-t-xs font-bold" style="color: white;">Android</div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <h3><strong>SDK for Android下载</strong></h3>
                            <p>使用说明</p>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="contact-box" style="padding: 0px;">
                    <a href="">
                        <div class="col-sm-4" style="background-color: #1ab394;height: 200px;">
                            <div class="text-center">
                                <img style="width: 80px;height: 80px;margin-top: 35%;" src="${ctxPath}/static/img/wechat.png">
                                <div class="m-t-xs font-bold" style="color: white;">Wechat</div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <h3><strong>SDK for Wechat</strong></h3>
                            <p>使用说明</p>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--  -->
</div>
@}
