@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="developercenterKeyInfoForm">

            <div class="row">

                    <input id="id" value="${item.id}" hidden>
                    <#input id="appname" name="应用名称" value="${item.appname}" underline="true" style="width:50%"/>
                    <#input id="apptype" name="应用类型" value="${item.apptype}" underline="true" style="width:50%"/>
                    <#input id="appintro" name="应用简介" value="${item.appintro}" underline="true" style="width:50%"/>

                </div>


            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="DevKeyInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="DevKeyInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/develop/developercenter/developercenter_key_info.js"></script>
@}
